 /*
    ++++++ GLOBAL STYLES ++++++

    These styles are used across the notebook.
*/

/* CSS Variables */
:root {
 --offwhite: #fffbfa;
 --note: lemonchiffon;
 --coral: #ff948f;
 --bg: #fffbfa;
 --fg: #000000;
 --accent: #ff948f;

  /* log tag colors */
  --tag-music:    #E0B0FF;  /* mauve */
  --tag-writing:  #fffacd;  /* lemonchiffon */
  --tag-politics: #78282B;  /* mahogany */
  --tag-culture:  #80cbc4;  /* teal */
  --tag-internet: #81d4fa;  /* light blue */
  --tag-life:     #FFD1CF;  /* lighter coral */
  --tag-other:    #F2F2E9;  /* piss grey */
}



/* Border box sizing fix */
*, *:before, *:after { box-sizing: border-box; }

/* Some global style resets */
body {
  padding: 0px;
  max-width: 1000px;
  margin: auto;
  font-family: 'Courier New';
  color: var(--);
  background-color: var(--coral);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  -webkit-text-size-adjust: none; 
}

h1, h2, h3, h4, p, ol, ul, li, a, figure, p:last-child, ul:last-child, ol:last-child {
    font-family:'Courier New', monospace;
    font-size: 14px;
    margin: 0;
    padding: 0;
    overflow-wrap: anywhere;   /* modern, nice */
    word-break: break-word;
}

ul, ol {
    position: relative;
    list-style: none;
    margin-left: 0;
    padding-left:.5em;
}

li:before {
    content: "»";
    position: absolute;
    left: 0;
/*   padding-left: .5em;
    display: block;
    float: left;
    width: 1.2em;
    color: #000; */
}


li {
    list-style-position: inside;
    padding-left: 1em;
}

p, ul, ol {
    margin-bottom: 1em;
    line-height: 1.3;
}

img {
    max-width: 100%;
}

a {
    color: var(--flowers);
}

.log-left section a {
    --tag-color: var(--note);
}
